/* ProfileInfo.module.css */
.mainImage {
  height: 100px;
  width: 100%;
}

.descriptionBlock {
  padding: 10px;
}

.userDetail {
  margin-top: 5px;
}

.userIcon {
  width: 100px;
}

.contactItem {
  margin-top: 3px;
  margin-left: 10px;
}

.contactLink {
  font-weight: bold;
}