.dialogs {  
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.namesBlock, 
.messageBlock {
  padding: 10px;
}

.dialogsItems {
  
}

.dialog {

}

.dialogIsActive {
  font-weight: bold;
  font-size: 20px;
}

.dialog:not(:first-child) {
  margin-top: 10px;
}

.messages {
  padding: 10px;
}

.message:not(:first-child) {
  margin-top: 15px;
}

.messageItem {
  padding: 5px 10px;
  width: max-content;
  max-width: 300px;
  border: 1px solid #5cdb95;
  border-radius: 30px;
}

.textarea {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
}