.dialogs {  
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialog {

}

.dialogIsActive {
  font-weight: bold;
  font-size: 20px;
}

.dialog:not(:first-child) {
  margin-top: 10px;
}

.messages {
  padding: 10px;
}

.message {

}

.textarea {
  display: block;
}